@model MVCDogSelector.Models.Dog

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>DisplayDog</title>
</head>
<body>
    <div> 
        <p>Activ @Model.ActivityLevel</p>
        <p>shre @Model.SheddingLevel</p>
        <p> groom @Model.GroomingLevel</p>
        <p> drool @Model.Drools</p>
        <p> clen @Model.Coatlength</p>
        <p>size @Model.Size</p>
        <p>child @Model.GoodWithChildren</p>
        <p> intel @Model.IntelligenceLevel</p>
        <p> breed @Model.BreedName</p>
        <p>Match Score @Model.MatchScore</p>

        <a href="~/DogSelector/Index">Return to Dog Selector</a>

    </div>
</body>
</html>
