
@model IEnumerable<MVCDogSelector.Models.Dog>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <title>DisplayDog</title>
</head>
<body>
    <div class="container">

        <div class="row">

            <div class="col-md-12 col-sm-12">

                <div class="jumbotron">

                    <h1>Recommended Dog:</h1>


                </div>

            </div>

        </div>

        

            @foreach (MVCDogSelector.Models.Dog d in Model)
            {

                <div class="row">

                    <div class="col-md-6">

                        <table class="table table-striped">
                            <tr>
                                <td>Breed:</td>
                                <td>@d.DisplayName</td>
                            </tr>
                            <tr>
                                <td>Activity level:</td>
                                <td>@d.ActivityLevel</td>
                            </tr>
                            <tr>
                                <td>Shedding Level:</td>
                                <td>@d.SheddingLevel</td>
                            </tr>
                            <tr>
                                <td>Grooming Level:</td>
                                <td>@d.GroomingLevel
                                <td>
                            </tr>
                            <tr>
                                <td>Intelligence Level:</td>
                                <td>@d.IntelligenceLevel</td>
                            </tr>
                            <tr>
                                <td>Good with Children:</td>
                                <td>@d.GoodWithChildren</td>
                            </tr>
                            <tr>
                                <td>Drools:</td>
                                <td>@d.Drools</td>
                            </tr>
                            <tr>
                                <td>Coal Length:</td>
                                <td>@d.Coatlength</td>
                            </tr>
                            <tr>
                                <td>Size:</td>
                                <td>@d.Size</td>
                            </tr>
                            <tr>
                                <td>Match Score(Lower is better)</td>
                                <td>@d.MatchScore</td>
                            </tr>
                        </table>

                    </div>


                    <div class="col-md-6">
                        <img class="img-rounded dogImage" src="~/Content/Images/@d.ImageName" />
                    </div>

                </div>
                
                <div class="spacer"></div>

            }
               

        <a class="btn btn-default" href="~/DogSelector/Index">Return to Dog Selector</a>

    </div>

       
        
    

</body>
</html>
